body{
background-color:#5bc8ac;         /*#41c074,#20948b,#5bc8ac*/;   

}

@font-face {
    font-family: myFont;
    src: url(fonts/glyphicons-halflings-regular.woff);
}

.navbar {

background-color:#003b46;

}





